<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar navbar-nav">
        <li>
            <button class="btn btn-outline-primary ml-2" (click)="onGetAllProducts()">All</button>
        </li>

        <li>
            <button class="btn btn-outline-primary ml-2" (click)="onGetSelectedProducts()">Selected</button>
        </li>

        <li>
            <button class="btn btn-outline-primary ml-2" (click)="onGetAvailableProducts()">Available</button>
        </li>

        <li>
            <button class="btn btn-outline-primary ml-2" (click)="onNewProduct()">New Product</button>
        </li>
    </ul>

    <!-- Search -->
    <ul class="navbar navbar-nav ml-auto">
<li>
    <form #f="ngForm" (submit)="onSearch(f.value)" class="form-inline mr-4">
            {{f.value|json }}
            <input ngModel name="keyword" type="text" class="form-control">
            <button class="btn btn-outline-info">
                <span class="fa fa-seach"></span> Search
            </button>


    </form>
</li>
    </ul>

</nav>


<div class="container" *ngIf="products$">

    <ng-container *ngIf="(products$ |async) as result" [ngSwitch]="result.dataState">
        <!-- {{ result| json }} -->
        <ng-container *ngSwitchCase="DataStateEnum.LOADING">
            Loading ...
        </ng-container>

        <ng-container *ngSwitchCase="DataStateEnum.ERROR">
            <div class="alert-danger">
                {{ result.errorMessage }}
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="DataStateEnum.LOADED">

            <table class="table text-center">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Selected</th>
                    <th>Available</th>
                    <th>Actions</th>
                </tr>
                <tr *ngFor="let p of result.data">
                    <td>{{p.id}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                    <td>{{p.quantity}}</td>
                    <td>{{p.selected}}</td>
                    <td>{{p.available}}</td>
                    <td>
                        <button class="btn btn-danger mx-1 bg-danger text-white" (click)="onDelete(p.id)">
                            <i class="fa fa-trash" ></i> Delete
                        </button>
                        <button class="btn btn-primary bg-primary text-white" (click)="onEditProduct(p.id)">
                            <i class="fa fa-trash"  ></i> Edit
                        </button>
                    </td>
                </tr>
            </table>
        </ng-container>


    </ng-container>
</div>